{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'users/main.css' %}">
</head>
{% block content %}

<div class="container">
    <div class="auth-wrapper">
        <div class="auth-card">

            <div class="auth-title">Create Your Account</div>

            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="btn-modern-save mt-3">
                    Sign Up
                </button>
            </form>

            <div class="auth-divider">
                <hr>
                <span>OR</span>
                <hr>
            </div>

            <a href="{% provider_login_url 'google' %}" class="btn-google">
                <img src="{% static 'images/google.png' %}" alt="Google">
                <span>Sign in with Google</span>
            </a>

            <div class="auth-footer">
                Already have an account?
                <a href="{% url 'login' %}">Sign In</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}